Repository kehyshow/React-Chat-Channel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Salet, @piotr-suwala, @parfeon, @kazydek

test: update caches configuration
  .github/workflows/run-tests.yml
Owners: @parfeon

test: update cache settings for validation steps
  .github/workflows/run-validations.yml
Owners: @parfeon

test: modify yarn install flags list
  .github/workflows/run-validations.yml
Owners: @parfeon

wip
  package.json
  packages/react-native/package.json
  packages/react-native/src/message-input/message-input.tsx
  samples/react-native/getting-started/yarn.lock
  yarn.lock
Owners: @Salet, @piotr-suwala

wip
  package.json
  packages/common/src/icons/file.svg
  packages/react-native/package.json
  packages/react-native/src/message-input/message-input.tsx
  samples/react-native/getting-started/package.json
  samples/react/group-chat/src/moderated-chat.tsx
  samples/react/live-events/src/components/ChatView.tsx
  yarn.lock
Owners: @Salet, @piotr-suwala

wip
  packages/common/src/icons/file.svg
  packages/react-native/src/message-input/file-place-picker-modal.tsx
  packages/react-native/src/message-input/message-input.style.ts
  packages/react-native/src/message-input/message-input.tsx
  samples/react-native/getting-started/src/getting-started-react-native.tsx
Owners: @Salet, @piotr-suwala

wip
  .gitignore
  packages/common/src/icons/x-circle.svg
  packages/common/src/message-list/message-list.tsx
  packages/react-native/package.json
  packages/react-native/rollup.config.js
  packages/react-native/src/message-input/message-input.tsx
  samples/react-native/getting-started/app.config.js
  samples/react-native/getting-started/package.json
  yarn.lock
Owners: @Salet, @piotr-suwala

feat: add React Native file upload
  packages/common/src/icons/index.ts
  packages/common/src/index.ts
  packages/react-native/babel.config.js
  packages/react-native/package.json
  packages/react-native/rollup.config.js
  packages/react-native/src/icons/file.png
  packages/react-native/src/icons/image.png
  packages/react-native/src/icons/x-circle.png
  packages/react-native/src/message-input/message-input.tsx
  packages/react/src/icons/file.svg
  packages/react/src/icons/image.svg
  packages/react/src/icons/x-circle.svg
  packages/react/src/message-input/message-input.tsx
  samples/react-native/getting-started/package.json
  samples/react-native/getting-started/src/getting-started-react-native.tsx
  yarn.lock
Owners: @Salet, @piotr-suwala

chore: remove unused files
  custom.d.ts
  packages/react-native/src/message-input/file-place-picker-modal.tsx
  samples/react-native/getting-started/src/getting-started-react-native.tsx
  tsconfig.json
Owners: @Salet, @piotr-suwala

chore: remove unused files
  samples/react-native/getting-started/yarn.lock
Owners: @Salet, @piotr-suwala

chore: remove unused files
  samples/react/getting-started/vite-profile.cpuprofile
Owners: @Salet, @piotr-suwala

feat(lib): react native message reactions
  packages/common/src/message-list/message-list.tsx
  packages/common/src/types.ts
  packages/react-native/mock/emoji-picker-mock.tsx
  packages/react-native/src/index.ts
  packages/react-native/src/message-list/message-list.style.ts
  packages/react-native/src/message-list/message-list.tsx
  packages/react-native/src/types.ts
  packages/react-native/test/message-list.test.tsx
  packages/react/mock/emoji-picker-mock.tsx
  packages/react/src/index.ts
  packages/react/src/message-input/message-input.tsx
  packages/react/src/message-list/message-list.tsx
  packages/react/src/types.ts
  samples/react-native/mobile-chat/package.json
  samples/react-native/mobile-chat/screens/chat.tsx
  yarn.lock
Owners: @Salet, @piotr-suwala

feat(lib): add a nice modal for file upload
  packages/common/src/message-input/message-input.tsx
  packages/react-native/src/icons/close-icon.png
  packages/react-native/src/message-input/file-place-picker-modal.tsx
  packages/react-native/src/message-input/message-input.style.ts
  packages/react-native/src/message-input/message-input.tsx
  samples/react-native/getting-started/package.json
  samples/react-native/getting-started/src/getting-started-react-native.tsx
  samples/react/getting-started/src/getting-started.tsx
Owners: @Salet, @piotr-suwala

feat(lib): add safe area to modal
  packages/react-native/src/message-input/file-place-picker-modal.tsx
Owners: @Salet, @piotr-suwala

revert keys
  samples/react-native/getting-started/src/getting-started-react-native.tsx
  samples/react/getting-started/src/getting-started.tsx
Owners: @Salet, @piotr-suwala

chore: remove comments
  packages/react-native/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

feat(lib): add a custom renderer
  packages/react-native/src/message-input/file-modal.tsx
  packages/react-native/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

fix(lib): move typing of hideSendButton out of the common package
  packages/common/src/message-input/message-input.tsx
  packages/react-native/src/message-input/message-input.tsx
  packages/react-native/src/message-list/message-list.style.ts
  packages/react/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

chore(lib): improve the doc comment around reactionsPicker option
  packages/react-native/src/message-list/message-list.tsx
  packages/react/src/message-list/message-list.tsx
Owners: @Salet, @piotr-suwala

wip
  packages/common/src/helpers.ts
  packages/common/src/types.ts
  packages/react-native/src/message-list/message-list.tsx
  samples/react-native/getting-started/src/getting-started-react-native.tsx
  samples/react/getting-started/src/getting-started.tsx
Owners: @Salet, @piotr-suwala

Use secret-defined bot name
  .github/workflows/commands-handler.yml
Owners: @parfeon

e2e tests run branch reconfigured to master branch
  .github/workflows/run-tests.yml
Owners: @parfeon

feat(lib: add tests
  packages/react-native/jest.config.js
  packages/react-native/mock/file-mocks.tsx
  packages/react-native/package.json
  packages/react-native/src/message-list/remote-file.tsx
  packages/react-native/test/message-list.test.tsx
  packages/react-native/test/remote-file.test.tsx
  yarn.lock
Owners: @Salet, @piotr-suwala

Update README.md
  samples/react/live-events/README.md
Owners: @kazydek

chore: fix commands handler gh action
  .github/workflows/commands-handler.yml
Owners: @parfeon

chore: fix commands handler gh action
  .github/workflows/commands-handler.yml
Owners: @parfeon

PubNub SDK v0.19.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

feat(lib): tests
  packages/react-native/test/remote-file.test.tsx
Owners: @Salet, @piotr-suwala

chore: cleanup
  package.json
  packages/react-native/package.json
  samples/react-native/getting-started/metro.config.js
  samples/react-native/getting-started/package.json
  samples/react-native/getting-started/src/getting-started-react-native.tsx
  samples/react-native/getting-started/webpack.config.js
  samples/react/live-events/src/components/ChatView.tsx
  yarn.lock
Owners: @Salet, @piotr-suwala

chore: cleanup
  packages/react-native/src/message-input/message-input.tsx
  packages/react/package.json
  samples/react-native/getting-started/package.json
  samples/react/getting-started/src/getting-started.tsx
  yarn.lock
Owners: @Salet, @piotr-suwala

chore: cleanup
  packages/react-native/package.json
Owners: @Salet, @piotr-suwala

chore: cleanup
  packages/react-native/src/message-list/remote-file.tsx
Owners: @Salet, @piotr-suwala

chore: cr fixes
  packages/react-native/src/icons/close-icon.png
  packages/react-native/src/icons/download.png
  packages/react-native/src/icons/file.png
  packages/react-native/src/icons/image.png
  packages/react-native/src/icons/x-circle.png
  packages/react-native/src/message-input/message-input.style.ts
  packages/react-native/src/message-list/message-list.style.ts
  packages/react-native/src/message-list/remote-file.tsx
Owners: @Salet, @piotr-suwala

feat(lib): add some more tests
  packages/react-native/mock/file-mocks.tsx
  packages/react-native/src/message-input/file-modal.tsx
  packages/react-native/src/message-input/message-input.style.ts
  packages/react-native/src/message-input/message-input.tsx
  packages/react-native/src/message-list/message-list.style.ts
  packages/react-native/src/message-list/remote-file.tsx
  packages/react-native/test/message-input.test.tsx
  samples/react-native/getting-started/src/getting-started-react-native.tsx
Owners: @Salet, @piotr-suwala

e2e run command change across react native sample app launch issue: UI-1740
  .github/workflows/run-tests.yml
Owners: @parfeon

chore: revert tokens
  samples/react-native/getting-started/src/getting-started-react-native.tsx
Owners: @Salet, @piotr-suwala

chore: reverse colors
  packages/react-native/src/message-list/message-list.style.ts
Owners: @Salet, @piotr-suwala

chore: remove values for photos permissions
  samples/react-native/getting-started/app.config.js
Owners: @Salet, @piotr-suwala

feat(lib): save correct file name for Android
  packages/react-native/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

chore: add load tests for React and RN components
  .gitignore
  load-tests/common/constants.js
  load-tests/react-native/.gitignore
  load-tests/react-native/App.tsx
  load-tests/react-native/README.MD
  load-tests/react-native/app.json
  load-tests/react-native/assets/adaptive-icon.png
  load-tests/react-native/assets/favicon.png
  load-tests/react-native/assets/icon.png
  load-tests/react-native/assets/splash.png
  load-tests/react-native/babel.config.js
  load-tests/react-native/metro.config.js
  load-tests/react-native/package.json
  load-tests/react-native/toma.toml
  load-tests/react-native/tsconfig.json
  load-tests/react/package.json
  load-tests/react/src/index.css
  load-tests/react/src/index.html
  load-tests/react/src/index.jsx
  load-tests/react/toma.toml
  load-tests/toma.toml
  package.json
  yarn.lock
Owners: @Salet, @piotr-suwala

.github/CODEOWNERS:

*                   @Salet @piotr-suwala
.github/workflows/* @parfeon
README.md           @kazydek
.pubnub.yml         @kazydek
