Repository kehyshow/React-Chat-Channel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Salet, @piotr-suwala, @parfeon, @kazydek

chore: remove unused command
  load-tests/react-native/package.json
Owners: @Salet, @piotr-suwala

chore: rm unused eslint rule
  .eslintrc
Owners: @Salet, @piotr-suwala

feat(lib): load users when seen pattern implementation
  packages/common/src/chat/chat.tsx
  packages/common/src/message-list/message-list.tsx
  packages/common/src/state-atoms.ts
  samples/react/group-chat/src/moderated-chat.tsx
Owners: @Salet, @piotr-suwala

test: add test cases around loading users when seen
  packages/common/src/chat/chat.tsx
  packages/common/src/state-atoms.ts
  packages/react-native/test/message-list.test.tsx
  packages/react/test/message-list.test.tsx
Owners: @Salet, @piotr-suwala

chore: revert testing changes in the sample app
  samples/react/group-chat/src/moderated-chat.tsx
Owners: @Salet, @piotr-suwala

PubNub SDK v0.20.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

UI 1736 - Make the package work on Expo Snack (#104)
  packages/react-native/package.json
  packages/react-native/rollup.config.js
  samples/react-native/getting-started/src/getting-started-react-native.tsx
  samples/react-native/getting-started/webpack.config.js
  samples/react-native/mobile-chat/webpack.config.js
Owners: @Salet, @piotr-suwala

feat(lib): memoize list items in MessageList for React
  packages/react/src/message-list/message-item.tsx
  packages/react/src/message-list/message-list.tsx
Owners: @Salet, @piotr-suwala

feat(lib): fix custom fields not being appeneded to the hook return v… (#109)
  .pubnub.yml
  packages/common/package.json
  packages/common/src/hooks/use-user-memberships.ts
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

fix(lib): fix custom metadata not being returned properly (#110)
  .pubnub.yml
  packages/common/package.json
  packages/common/src/hooks/use-channel-members.ts
  packages/common/src/hooks/use-user-memberships.ts
  packages/common/src/types.ts
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

fix(lib): fix not being able to click on emojis on the last message on the message list (#111)
  packages/react/src/message-list/message-list.scss
Owners: @Salet, @piotr-suwala

feat(lib): change import order (#112)
  .pubnub.yml
  packages/common/package.json
  packages/common/src/typing-indicator/typing-indicator.tsx
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

fix(lib): fix fetchHistory not being called when a live message showe… (#113)
  packages/common/src/message-list/message-list.tsx
  packages/common/src/state-atoms.ts
  packages/react/src/message-list/message-list.tsx
  samples/react/group-chat/src/index.tsx
Owners: @Salet, @piotr-suwala

feat(lib): return change event and expose onKeyPress callback (#115)
  .pubnub.yml
  packages/common/package.json
  packages/common/src/message-input/message-input.tsx
  packages/react-native/package.json
  packages/react-native/src/message-input/message-input.tsx
  packages/react/package.json
  packages/react/src/message-input/message-input.tsx
  packages/react/test/message-input.test.tsx
Owners: @kazydek, @Salet, @piotr-suwala

fix(lib): remove a warning about missing onKeyPress (#116)
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
  packages/react/src/message-input/message-input.tsx
Owners: @kazydek, @Salet, @piotr-suwala

chore: update packages to work with expo 48
  load-tests/react-native/package.json
  load-tests/react/package.json
  package.json
  packages/common/package.json
  packages/react-native/package.json
  packages/react-native/rollup.config.js
  packages/react/package.json
  samples/react-native/getting-started/package-lock.json
  samples/react-native/getting-started/package.json
  samples/react-native/mobile-chat/package.json
  samples/react/getting-started/package.json
  samples/react/group-chat/package.json
  samples/react/live-events/package.json
  samples/react/telehealth/package.json
  yarn.lock
Owners: @Salet, @piotr-suwala

fix(lib): update uuid resolutions
  packages/react-native/rollup.config.js
Owners: @Salet, @piotr-suwala

PubNub SDK v0.26.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

fix(lib): fix RN uuid (#118)
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react-native/rollup.config.js
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

feat(lib): actionsAfterInput option in MessageInput (#120)
  .github/workflows/run-tests.yml
  .pubnub.yml
  package.json
  packages/common/package.json
  packages/common/src/message-input/message-input.tsx
  packages/react-native/package.json
  packages/react-native/src/message-input/message-input.style.ts
  packages/react-native/src/message-input/message-input.tsx
  packages/react/package.json
  packages/react/src/icons/file.svg
  packages/react/src/icons/image.svg
  packages/react/src/icons/x-circle.svg
  packages/react/src/message-input/message-input.scss
  packages/react/src/message-input/message-input.tsx
  yarn.lock
Owners: @parfeon, @kazydek, @Salet, @piotr-suwala

feat(lib): add additional options for TextInput and TextArea (#121)
  packages/common/src/message-input/message-input.tsx
  packages/react-native/src/message-input/message-input.tsx
  packages/react/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

feat: focus on message input after selecting emoji (#122)
  packages/react/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

release: v0.29 (#123)
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
  packages/react/src/message-input/message-input.tsx
Owners: @kazydek, @Salet, @piotr-suwala

fix: focusing on MessageInput after selecting emoji
  packages/react/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

fix: warnings about non-existent attributes in MessageInput
  packages/common/src/message-input/message-input.tsx
  packages/react-native/src/message-input/message-input.tsx
  packages/react/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

PubNub SDK v0.30.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

fix(lib): remove inverted flatlist fix for android
  load-tests/react-native/package.json
  packages/react-native/package.json
  packages/react-native/src/message-list/android-hack-workaround.native.ts
  packages/react-native/src/message-list/android-hack-workaround.ts
  packages/react-native/src/message-list/message-list.tsx
  samples/react-native/getting-started/package.json
  samples/react-native/mobile-chat/package.json
  yarn.lock
Owners: @Salet, @piotr-suwala

chore: bump react native version peer dependency
  packages/react-native/package.json
Owners: @Salet, @piotr-suwala

Add file + text upload capabilities (#126)
  .pubnub.yml
  packages/common/package.json
  packages/common/src/message-input/message-input.tsx
  packages/react-native/package.json
  packages/react-native/src/message-input/message-input.style.ts
  packages/react-native/src/message-input/message-input.tsx
  packages/react/package.json
  packages/react/src/message-input/message-input.scss
  packages/react/src/message-input/message-input.tsx
  packages/react/test/message-input.test.tsx
Owners: @kazydek, @Salet, @piotr-suwala

test: image change to macos
  .github/workflows/run-tests.yml
Owners: @parfeon

PubNub SDK v0.32.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

feat(lib): react to changes in users atom and expose loading flags (#132)
  .pubnub.yml
  packages/common/package.json
  packages/common/src/hooks/use-channel-members.ts
  packages/common/src/hooks/use-channels.ts
  packages/common/src/hooks/use-presence.ts
  packages/common/src/hooks/use-user-memberships.ts
  packages/common/src/hooks/use-user.ts
  packages/common/src/hooks/use-users.ts
  packages/common/test/use-channel-members.test.tsx
  packages/common/test/use-channels.test.tsx
  packages/react-native/package.json
  packages/react/package.json
  packages/react/src/message-list/message-item.tsx
Owners: @kazydek, @Salet, @piotr-suwala

.github/CODEOWNERS:

*                   @Salet @piotr-suwala
.github/workflows/* @parfeon
README.md           @kazydek
.pubnub.yml         @kazydek
