Repository kehyshow/React-Chat-Channel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Salet, @piotr-suwala, @parfeon, @kazydek

.github/CODEOWNERS:

*                   @Salet @piotr-suwala
.github/workflows/* @parfeon
README.md           @kazydek
.pubnub.yml         @kazydek

chore: make sure that TypeScript passes before committing
  .gitignore
  package.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/react-native/package.json
  packages/react-native/tsconfig.json
  packages/react/package.json
  packages/react/src/custom.d.ts
  packages/react/tsconfig.json
  samples/getting-started/package.json
  samples/getting-started/tsconfig.json
  samples/getting-started/tsconfig.node.json
  samples/group-chat/package.json
  samples/live-events/package.json
  samples/mobile-chat/App.tsx
  samples/mobile-chat/package.json
  samples/mobile-chat/screens/channels.tsx
  samples/mobile-chat/tsconfig.json
  samples/telehealth/package.json
  samples/telehealth/tsconfig.node.json
  tsconfig.json
  yarn.lock
Owners: @Salet, @piotr-suwala

feat(samples): switch PN SDK uuid param to userId
  samples/react-native/getting-started/src/getting-started-react-native.tsx
  samples/react-native/mobile-chat/App.tsx
  samples/react/getting-started/src/getting-started.tsx
  samples/react/group-chat/src/index.tsx
  samples/react/live-events/src/index.tsx
  samples/react/telehealth/src/index.tsx
Owners: @Salet, @piotr-suwala

PubNub SDK v0.14.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

chore: bring back postinstall build script
  package.json
Owners: @Salet, @piotr-suwala

fix(samples): object population script paths
  samples/react/group-chat/populate-pn-objects.js
Owners: @Salet, @piotr-suwala

docs: create readme for RN getting-started and update others (#69)
  .gitignore
  samples/react-native/getting-started/README.md
  samples/react-native/getting-started/package.json
  samples/react-native/getting-started/screenshot.png
  samples/react/group-chat/README.md
  samples/react/live-events/README.md
  samples/react/telehealth/README.md
Owners: @Salet, @piotr-suwala, @kazydek

docs: separate README file for each package (#74)
  .prettierrc
  LICENSE
  README.md
  packages/react-native/LICENSE
  packages/react-native/README.md
  packages/react-native/screenshot-mobile.png
  packages/react/README.md
  packages/react/screenshot-desktop.png
  samples/react-native/getting-started/README.md
  samples/react/getting-started/README.md
  samples/react/group-chat/README.md
  samples/react/live-events/README.md
  samples/react/telehealth/README.md
  screenshot.png
Owners: @Salet, @piotr-suwala, @kazydek

chore: Better types for PubNubMock (#72)
  packages/common/mock/pubnub-mock.ts
  packages/common/package.json
  packages/common/src/channel-list/channel-list.tsx
  packages/common/src/chat/chat.tsx
  tsconfig.json
  turbo.json
  yarn.lock
Owners: @Salet, @piotr-suwala

build(reviewers): add automated reviewers assigner
  .github/workflows/on-pull-request-create.yml
  .github/workflows/release/reviewers.json
  packages/react/src/member-list/member-list.tsx
Owners: @parfeon, @Salet, @piotr-suwala

refactor: removed change for reviewers assignment test
  packages/react/src/member-list/member-list.tsx
Owners: @Salet, @piotr-suwala

build(reviewers): checkout current branch
  .github/workflows/on-pull-request-create.yml
Owners: @parfeon

fix(build): fix event type for PR
  .github/workflows/on-pull-request-create.yml
Owners: @parfeon

fix(lib): fix infinite scrolling on MessageList not working when limit is set above 25
  packages/common/src/message-list/message-list.tsx
  packages/common/src/types.ts
  packages/react/test/message-list.test.tsx
  samples/react-native/mobile-chat/screens/chat.tsx
  samples/react/group-chat/src/moderated-chat.tsx
Owners: @Salet, @piotr-suwala

test: fix cases with message time matchers
  packages/react/test/message-list.test.tsx
Owners: @Salet, @piotr-suwala

docs: improve doc comment for the filter option on MessageList
  packages/common/src/message-list/message-list.tsx
Owners: @Salet, @piotr-suwala

PubNub SDK v0.15.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

chore: fix the last changelog entry
  .pubnub.yml
Owners: @kazydek

fix(lib): make sending duplicate messages impossible
  packages/common/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

chore: remove brackets
  packages/common/src/message-input/message-input.tsx
Owners: @Salet, @piotr-suwala

chore: check if screenshots placed in root folder are displayed in READMEs
  screenshot-desktop.png
  screenshot-mobile.png
Owners: @Salet, @piotr-suwala

fix(lib): fix textarea multiline autosize problem (#81)
  packages/common/src/message-input/message-input.tsx
  packages/react/jest.config.js
  packages/react/setup-tests-after-env.js
  packages/react/src/message-input/message-input.tsx
  packages/react/test/message-list.test.tsx
Owners: @Salet, @piotr-suwala

PubNub SDK v0.16.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

feat(samples): cross-platform telehealth improvements (#83)
  samples/react/live-events/package.json
  samples/react/telehealth/README.md
  samples/react/telehealth/index.html
  samples/react/telehealth/screenshot.png
  samples/react/telehealth/src/assets/key.svg
  samples/react/telehealth/src/assets/logo-dark.svg
  samples/react/telehealth/src/assets/logo.svg
  samples/react/telehealth/src/assets/moon-over-sun.svg
  samples/react/telehealth/src/assets/moon-stars.svg
  samples/react/telehealth/src/assets/moon.svg
  samples/react/telehealth/src/assets/spinner.svg
  samples/react/telehealth/src/assets/splash.png
  samples/react/telehealth/src/assets/sun.svg
  samples/react/telehealth/src/assets/unlock.svg
  samples/react/telehealth/src/assets/user.svg
  samples/react/telehealth/src/data/channels.json
  samples/react/telehealth/src/data/memberships.json
  samples/react/telehealth/src/data/users.json
  samples/react/telehealth/src/index.css
  samples/react/telehealth/src/index.tsx
  samples/react/telehealth/src/views/DoctorView.tsx
  samples/react/telehealth/src/views/LoginView.tsx
  samples/react/telehealth/src/views/PatientView.tsx
  samples/react/telehealth/src/views/SwitchView.tsx
  samples/react/telehealth/tailwind.config.js
Owners: @Salet, @piotr-suwala, @kazydek

fix(lib): fetch metadata for message history
  packages/common/src/message-list/message-list.tsx
Owners: @Salet, @piotr-suwala

PubNub SDK v0.17.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

feat(samples): add features for interactive demo in group chat (#86)
  samples/react/group-chat/package.json
  samples/react/group-chat/public/features.json
  samples/react/group-chat/src/moderated-chat.tsx
  yarn.lock
Owners: @Salet, @piotr-suwala

feat(samples): changes for interactive telehealth demo (#89)
  samples/react/telehealth/package.json
  samples/react/telehealth/public/features.json
  samples/react/telehealth/src/index.tsx
  samples/react/telehealth/src/views/DoctorView.tsx
  samples/react/telehealth/src/views/LoginView.tsx
  samples/react/telehealth/src/views/PatientView.tsx
  samples/react/telehealth/src/views/SwitchView.tsx
Owners: @Salet, @piotr-suwala

chore: bump react-native related packages to support ~0.70
  package.json
  packages/common/package.json
  packages/react-native/package.json
  packages/react-native/src/helpers.ts
  packages/react/package.json
  samples/react-native/getting-started/package.json
  samples/react-native/mobile-chat/package.json
  samples/react/getting-started/package.json
  samples/react/group-chat/package.json
  samples/react/live-events/package.json
  samples/react/telehealth/package.json
  yarn.lock
Owners: @Salet, @piotr-suwala

fix(lib): inverted MessageList in RN ~0.70 on Android
  packages/react-native/src/message-list/message-list.tsx
Owners: @Salet, @piotr-suwala

PubNub SDK v0.18.0 release.
  .pubnub.yml
  packages/common/package.json
  packages/react-native/package.json
  packages/react/package.json
Owners: @kazydek, @Salet, @piotr-suwala

feat(lib): initial load test setup
  .eslintrc
  .gitignore
  load-tests/contracts/load-test.ts
  load-tests/package.json
  load-tests/src/index.css
  load-tests/src/index.html
  load-tests/src/index.jsx
  load-tests/toma.toml
  load-tests/utils/router.ts
  load-tests/utils/subscribe.ts
  package.json
  yarn.lock
Owners: @Salet, @piotr-suwala

test(e2e): add e2e tests
  .github/workflows/run-tests.yml
  .github/workflows/run-validations.yml
  .github/workflows/test.yml
Owners: @parfeon

WIP
  .gitignore
  custom.d.ts
  package.json
  packages/common/src/icons/file.svg
  packages/common/src/icons/image.svg
  packages/common/src/icons/index.ts
  packages/common/src/icons/x-circle.svg
  packages/common/src/index.ts
  packages/common/src/message-input/message-input.tsx
  packages/common/src/message-list/message-list.tsx
  packages/react-native/babel.config.js
  packages/react-native/package.json
  packages/react-native/rollup.config.js
  packages/react-native/src/icons/image.svg
  packages/react-native/src/icons/x-circle.svg
  packages/react-native/src/message-input/message-input.style.ts
  packages/react-native/src/message-input/message-input.tsx
  packages/react/package.json
  packages/react/src/icons/file.svg
  packages/react/src/icons/image.svg
  packages/react/src/icons/x-circle.svg
  packages/react/src/message-input/message-input.tsx
  samples/react-native/getting-started/app.config.js
  samples/react-native/getting-started/metro.config.js
  samples/react-native/getting-started/package-lock.json
  samples/react-native/getting-started/package.json
  samples/react-native/getting-started/src/getting-started-react-native.tsx
  samples/react-native/getting-started/yarn.lock
  samples/react/getting-started/src/getting-started.tsx
  samples/react/getting-started/vite-profile.cpuprofile
  tsconfig.json
Owners: @Salet, @piotr-suwala

refactor(lib): update populate script
  .github/workflows/run-tests.yml
  .github/workflows/run-validations.yml
  samples/react/group-chat/populate-pn-objects.js
Owners: @parfeon, @Salet, @piotr-suwala

test: remove redundant identifier for cache action
  .github/workflows/run-tests.yml
Owners: @parfeon

test: remove 'pull_request' event from triggering tests
  .github/workflows/run-tests.yml
  .github/workflows/run-validations.yml
Owners: @parfeon

test: use freeze lock file for yarn
  .github/workflows/run-tests.yml
Owners: @parfeon

test: add another yarn cache directory
  .github/workflows/run-tests.yml
Owners: @parfeon

test: fix cache directories
  .github/workflows/run-tests.yml
Owners: @parfeon

test: tweak cache path and yarn call
  .github/workflows/run-tests.yml
Owners: @parfeon
